@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: initial; */
  font-family: Arial, Helvetica, sans-serif
}

.companyName {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.exploreimage {
  background-image: url("https://themewagon.github.io/hexashop/assets/images/left-banner-image.jpg");
}

html {
  scroll-behavior: smooth;
}

*{
  scroll-behavior: smooth;
}

/* * {
  scroll-behavior: smooth;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
  display: none;
}

/* Make scrollbar visible on hover */
.scroll-container:hover::-webkit-scrollbar {
  display: block;
}



.hidden-scrollbar {
  /* overflow: hidden; */
  /* Webkit Browsers */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}